.product-card {
  width: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.media {
  width: 100%;
  height: 100%;
}

.product-description {
  width:100%;
  padding-left:20px;
  padding-right: 20px;
}

.product-image{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-info {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
}

.product-name {
  margin:0;
  font-weight: 500;
  display: inline;
}

.product-price {
  margin-top: 5px;
}

.remove, .add {
  display: flex;
  outline: none;
  border: none;
  background: #8EB1C7;
  padding: 0;
  cursor: pointer;
  max-height: 20px;
  max-width: 20px;
  margin: 10px 5px;
  border-radius: 4px;
  
}

.product-card-buttons {
  flex-direction: row;
  display: flex;
  justify-content: right;
  
}
.product-quantity {
  margin:0px 5px;
  background: #8EB1C7;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  right:2px;
}

.product-grid .product-card .media{
  height: 250px;
  width: 100%;
}

.number-col {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.material-icons {
  width: 20px;
  height: 20px;
  border: solid 1px #8EB1C7;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.product-data {
  margin-right: auto;
}

.product-view-content .product-card {
  width: 800px;
}